<!DOCTYPE html>
<html lang="{{ site.lang }}" class="night-mode">
  <head>

    <title>{{ page.title }} | {{ site.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/night-mode.css">
    <link rel="stylesheet" href="/assets/css/framework.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">

    <link rel="stylesheet" href="/assets/css/icons.css">
  </head>

  <body>

    <div id="wrapper">
